html{
  color:white;
  background-image:url("../media/eva.jpg");
  background-repeat: no-repeat;
  background-position: auto;
  background-size: 100%;
  font-family: arial;
}
/*color*/

:root {
    --col1:#4D0700;
}
:root {
    --col2:#33130F;
}

body{
  margin: 0;
  padding: 0;
}
/*menu*/

.menu{
 background-color:var(--@col1);
 width:100%;
 height: 10%;
 position:fixed;
 display: inline-block;
 margin: 0;
 padding: 0;

}
.menu-bar{
  display: block;
  /*display: inline-block;*/
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color:var(--col1);
  text-align: center;
}
.menu-item{
  padding: 1em;
  display: block;
  text-align: center;
  text-decoration: none;
}
a.menu-item:hover{
background-color: red;

}
/*Menu*/

/*Sidebar*/
.Sidebar{
  float: left;
  position:static;
  background-color:var(--col1);
  height: 100%;
  width: 10%;

}

ul li{
    float: left;
}
