html{
  color:white;
  background-image:url("https://78.media.tumblr.com/9e454d698b062b1a36f80dee474f248f/tumblr_nkpkn4g8Xz1s4fz4bo1_500.gif");
 /* background-color: #CCCCCC;*/
  background-size: 20%;
}
.title{
  font-size: 60;
  font-family: impact;
  color: black;
  text-align: center;

  background-color: white;
}
/*color*/

:root {
    --col1:#071930;
}
:root {
    --col2:#023852;
}
li{
  text-decoration: none;
  list-style-type: none;
}
body{
  margin: 0;
  padding: 0;
}
.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/*menu*/

.menu{
 background-color:var(--@col1);
 width:100%;
 height: inherit;
 position:inherit;
 display: inline-block;
 padding:0;
 margin: 0

}
.menu-bar{
  display: block;
  /*display: inline-block;*/
  margin: 0;
  padding: auto;
  padding-left: 5%;
  padding-right: 5%;
  overflow: hidden;
  background-color:var(--col1);
  text-align: center;

}
.menu-item{
  padding: 1em;
  padding-left: 2em;
  padding-right: 2em;
  margin: inherit;
  display: block;
  font-family: impact;
  text-align: center;
  text-decoration: none;


  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
a.menu-item:hover{
background-color: var(--col2);
}

/*Sidebar*/
/* .sidebar-holder{
  float: left;
  text-align: center;
  position:fixed;
  background-color:var(--col1);
  height: auto;
  width: auto;
  margin-right: 2em;
  margin: auto;
}
.sidebar-ul{
  display: block;
  padding:2em;
  text-align: center;
}*/

/*center*/
.center{
width: 90%;
height:60em;
bottom: 0;
margin:5%;
left:0;
right:0;
background-color: white;
position: relative;
}

/*footer*/
.footer{
position:fixed;
left: 0;
bottom: 0;
width: 100%;
background-color: red;
color: white;
text-align: center;
}
.footer-item{
padding: 1em;
display: block;
text-align: center;
text-decoration: none;
}
.footer-bar{
display: block;
/*display: inline-block;*/
margin: 0;
padding: auto;
padding-left: 0;
padding-right: 0;
overflow: hidden;
background-color:var(--col1);
text-align: center;
}
a.footer-item:hover{
background-color: var(--col2);
}
ul li{
    float: left;
}
