html{
  color:white;
  background-image:url(https://i.pinimg.com/originals/f1/79/8d/f1798d8a5951046c653a655e3e83cc7f.gif);
 /* background-color: #CCCCCC;*/
  background-position: ;
  background-size: 10%;
}
.title{
  font-size: 60;
  font-family: impact;
  color: black;
  text-align: center;
  padding-top: 3%;
  padding-bottom: 3%;
  background-color: white;
}
/*color*/

:root {
    --col1:#071930;
}
:root {
    --col2:#023852;
}
li{
  text-decoration: none;
  list-style-type: none;
}
body{
  margin: 0;
  padding: 0;
}

/*menu*/

.menu{
 background-color:var(--@col1);
 width:100%;
 height: inherit;
 position:static;
 display: inline-block;
 padding:0;
 margin: 0

}
.menu-bar{
  display: block;
  /*display: inline-block;*/
  list-style-type: none;
  margin: 0;
  padding: auto;
  overflow: hidden;
  background-color:var(--col1);
  text-align: center;
}
.menu-item{
  padding: 1em;
  display: block;
  text-align: center;
  text-decoration: none;
}
a.menu-item:hover{
background-color: var(--col2);

}
/*Menu*/

/*Sidebar*/
.sidebar-holder{
  float: left;
  text-align: center;
  position:fixed;
  background-color:var(--col1);
  height: auto;
  width: auto;
  margin-right: 2em;
  margin: auto;
}
.sidebar-ul{
  display: block;
  padding:2em;
  text-align: center;
}
/*footer*/

.footer{

}



ul li{
    float: left;
}
